*{
    font-family: Helvetica, sans-serif;
}

.game-files{
    display: flex;
    flex-direction: column;
}
#title{
    text-align: center;
}
h2{
    margin-top:0;
    margin-bottom: 11px;
}
.voice-over-pack{
    display: flex;
    text-align: center;
    flex-direction: column;
    margin: 0 auto;
}
.button-voice{
    display: flex;
    margin: 10px auto;
    justify-content:center;
    padding: 20px;
}
a{
    text-decoration: none;
}
legend{
    font-size: 1.7em;
    font-weight: bold;
}
.game-files{
    text-align: center;
    margin: 30px;
}
.section{
    padding: 15px;
    border:5px solid black;
}